div{
    background-color: gray;
    color: white;
    display: block;
    overflow: auto;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 15px;
    border: solid 2px black;
}

#a{
    color:red;

}

#b{
    color:green;
    position: relative;
}

#lorem{
    color: blue;    float: right;
}

#c{
    background-color: pink;
}